* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: lightgray;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  height: auto;
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid-container {
  padding: 1rem 0rem;
  display: grid;
  max-width: 1150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .7rem;
}

.img-and-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  width: 40px;
  border-radius: 50%;
  border: 2px solid gray;
}

.card1, .card2, .card3, .card4, .card5 {
  padding: 1.5rem 1.8rem;
  border-radius: .6rem;
  box-shadow: 2px 2px 21px 0px rgba(128,125,128,1);;
}

.card1 {
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-position: top 5px right 30px;
  background-repeat: no-repeat;
  background-size: 110px;
  grid-column: span 2;
}

.card2 {
  background-color: hsl(217, 19%, 35%);
}

.card3 {
  background-color: white;
  grid-row: span 2;
}

.card4 {  
  background-color: white;
}

.card5 {
  grid-column: span 2;
  background-color: hsl(219, 29%, 14%); 
}

.name, .status {
  font-size: .7rem;
}

.card1 .name, .card2 .name, .card5 .name {
  color: white;
  font-weight: bold;
}

.card1 .status, .card2 .status, .card5 .status {
  color: white;
  opacity: 50%;
}

.card1 .testimonial, .card2 .testimonial, .card5 .testimonial {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card1 .testimonial-detail, .card2 .testimonial-detail, .card5 .testimonial-detail {
  color: white;
  opacity: 70%;
}

.testimonial-detail {
  font-size: .8rem;
}

.card3 .name, .card4 .name {
  color: hsl(217, 29%, 14%);
  font-size: .7rem;
  font-weight: bold;
}

.card3 .status, .card4 .status {
  color: hsl(217, 29%, 14%);
  opacity: 50%;
  font-size: .7rem;
}

.card3 .testimonial, .card4 .testimonial {
  color: hsl(217, 29%, 14%);
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.card3 .testimonial-detail, .card4 .testimonial-detail {
  color: 217, 29%, 14%;
  opacity: 70%;
}

.testimonial {
  margin-top: .6rem;
}

@media(max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    padding: 1rem;
  }
  .card1, .card5 {
  grid-column: span 1;
  }
}
